* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    @include light {
        background: rgb(255, 255, 255);
    }
    @include dark {
        background: rgb(78, 78, 78);
    }

    background-repeat: repeat;
    margin: 2rem 3rem;
    box-shadow: 0rem 2rem 2rem 1rem rgba(0, 0, 0, 0.76);
    animation: fadeIn 0.4s linear;
    transition: all 0.5s;

    @include smaller-than($mantine-breakpoint-sm) {
        margin: 0rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
