.root {
    background-color: rgba(0, 0, 0, 0);
}

.indicator {
    @include dark {
        background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    }

    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.control {
    &::before {
        display: none;
    }
}

.label {
    &,
    &:hover {
        &[data-active] {
            color: var(--mantine-color-white);
        }
    }
}
