.container {
    position: relative;
}
.blogcard-container {
    position: relative;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    transition: all 0.2s;
    cursor: pointer;

    @include dark {
        filter: brightness(80%);
    }

    &__header {
        position: absolute;
        top: 0;
        left: 1rem;
        z-index: 99999;
        transition: all 5s;

        & p {
            color: white;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
                1px 1px 0 #000;
            font-family: 'Angkor', serif;
        }
        &__title {
            font-size: 2rem;
            margin-bottom: -20px;
        }

        &__author {
            font-size: 0.6rem;
            font-style: italic;
        }
    }

    & img {
        // filter: blur(0px);
        transition: all 0.5s;

        &:active {
            transform: scale(0.98);
        }
    }

    &:hover {
        transform: scale(1.02);

        p {
            scale: 1.02;
            // text-shadow: -1px -1px 0 rgb(5, 81, 66), 1px -1px 0 rgb(5, 81, 66),
            //     -1px 1px 0 rgb(5, 81, 66), 1px 1px 0 rgb(5, 81, 66);
            transition: all 0.2s;
        }

        & p::after {
            width: 100%;
        }

        img {
            filter: blur(1.8px);
        }
    }

    &__likes {
        position: absolute;
        bottom: 0.5rem;
        right: 1rem;
        background-color: rgba(255, 255, 255, 0.518);
        color: black;
        padding: 0.3rem;
        border-radius: 10%;
    }
}
