.root {
  color: rgb(157, 157, 157);
  transform: scale(1.2);

  @include dark {
    color: rgb(165, 165, 11);
    @include hover {
      color: rgb(226, 226, 100);
    }
  }

  @include light {
    color: rgb(123, 121, 121);
    @include hover {
      color: rgb(152, 152, 152);
    }
  }

  &:hover {
    transform: scale(1.05);
  }
}
