.mantine-TextInput-input {
    width: 75%;
}

.input {
    width: 2rem;
}

.title {
    font-family: Greycliff CF, var(--mantine-font-family);
    font-weight: 900;
}

.visibilityToggle {
    right: -2.5rem;
}
