.header {
    position: relative;
    background: rgb(20, 32, 32);
    border-radius: 0.2rem 0.2rem 0 0;
    overflow: hidden;

    @include light {
        color: grey;
    }

    &__top {
        padding-top: 0.5rem;

        .top-container__left {
            display: flex;
            flex-direction: row;
            flex-basis: 85%;
            margin: 0.5rem 0 1rem 2rem;
            align-items: center;
            background: rgb(20, 32, 32);

            &-logo {
                position: relative;
                margin-left: 1rem;
                flex-basis: 10rem;
                font-weight: 400;
                font-style: normal;

                span {
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    font-style: italic;
                    letter-spacing: 0.3rem;
                    color: red;
                    font-size: 0.7rem;
                    padding-bottom: 0.2rem;
                    transition: 0.25s;

                    @include hover {
                        transform: scale(1.1);
                    }
                }
            }

            &-text {
                @media (max-width: $mantine-breakpoint-sm) {
                    display: none;
                }

                & span:nth-child(1)::after {
                    content: '';
                    margin: 0 1rem 0;
                    border-right: 0.1rem solid red;
                    inset: 0;
                }
            }
        }

        .top-container__right {
            display: flex;
            flex-basis: 30%;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            flex-wrap: nowrap;

            &-text {
                display: flex;
                align-items: center;
                gap: 1rem;
                padding-bottom: 5px;
                cursor: pointer;

                @media (max-width: $mantine-breakpoint-sm) {
                    font-size: 0.8rem;
                }

                & span {
                    // padding-top: 0.2rem;

                    &:nth-child(1) {
                        border-right: 0.1rem solid red;
                        padding-right: 1.5rem;
                    }
                }

                .register-btn {
                    color: inherit;
                    &:link,
                    &:visited {
                        text-decoration: none;
                    }
                }
            }

            @include hover {
                color: rgb(170, 170, 170);
            }
        }
    }

    &__bottom {
        border-bottom: 0.1px rgb(180, 180, 180) solid;
        background: white;

        @include dark {
            border-bottom: none;
            background: rgb(34, 33, 33);
        }

        .link-item {
            border-right: 0.1rem solid rgba(120, 120, 120, 0.283);
        }
    }

    &__btns {
        flex-basis: 50%;
    }

    &__btn:last-child {
        margin-right: 1rem;
        align-self: flex-end;
    }
}
