.comments {
    margin-bottom: 2rem;

    &:not(:last-child) {
        border-bottom: 1px solid hsla(0, 0%, 65%, 0.137);
        padding-bottom: 1rem;
    }
}
.add-comment {
    width: 55%;
    border-bottom: 2px solid #f51c40;
    transition: all 0.3s ease-in-out;

    &--selected {
        border-bottom: 3px solid #f51c40;
        width: 65%;
        transition: all 0.3s ease-in-out;
    }

    @media (max-width: $mantine-breakpoint-sm) {
        width: 65%;

        &--selected {
            border-bottom: 3px solid #f51c40;
            width: 85%;
            transition: all 0.3s ease-in-out;
        }
    }
}

.buttons {
    padding-top: 1rem;
    justify-items: center;
    align-self: flex-end;
    &:disabled,
    &[data-disabled] {
        border-color: light-dark(
            var(--mantine-color-gray-3),
            var(--mantine-color-dark-4)
        );
        background-color: transparent;
    }
}
